# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
env/
venv/
ENV/

# AWS Lambda package (zip file)
lambda_function_payload.zip

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
crash.log
*.tfvars
.DS_Store

*.tfvars.json
override.tf
override.tf.json

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Python cache
*.egg-info/
.eggs/
dist/
build/
